h1, h2, h3, h4, h5, h6, p, div{
    font-family: 'Oxygen', sans-serif;
}

a {
	display: inline-block;
}

img {
	width: 100%;
	max-width: 100%;
	display: block;
}

body {
	overflow: hidden;
}

#temp_head {
	text-align: center;
}